<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FramedBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FramedBrowser.Properties.Settings>
            <setting name="LastURL" serializeAs="String">
                <value>http://www.google.com</value>
            </setting>
            <setting name="RememberLastURL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResizeablePanelLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ResizeablePanelSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="IsFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
        </FramedBrowser.Properties.Settings>
    </userSettings>
</configuration>